@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.top {
    padding-top: 5px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins";
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body * {
    margin-bottom: 30vh;
}
#box {
    background-color: aqua;
}