@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono";
}

body {
    background-color: white;
    display: flex;
}

.sidebar {
    width: 20vw;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.sidebar * {
    color: white;
    padding-top: 6.5%;
    font-family: "IBM Plex Mono";
    text-align: center;
    font-weight: 500;
}
.sidebar button {
    padding: 0;
    color: black;
}

.sidebar h1 {
    /* flex: 0.4; */ 
    font-size: 27px;
}

.sidebar section * {
    width: 100%;
}

.main {
    width: 80vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#titlelink:hover span {
    display: none;
}

#titlelink:hover:before {
    content: "Drag to your bookmarks"
}

/*
.sidebar nav {
    flex: 0.4;
}
*/

nav {
    display: flex;
    align-items: center;
    flex-direction: column;
}