@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono";
}

body {
    background-color: white;
    display: flex;
    overflow: hidden;
}

.sidebar {
    width: 20vw;
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.sidebar * {
    color: white;
    padding-top: 6.5%;
    font-family: "IBM Plex Mono";
    text-align: center;
    font-weight: 500;
}
.sidebar button {
    padding: 0;
    color: black;
}

.sidebar h1 {
    flex: 0.4;
}

.main {
    width: 80vw;
    height: 100vh
}